name: Metrics
on:
  # Se ejecuta cada 24 horas
  schedule: [{cron: "0 0 * * *"}]
  # Se ejecuta si haces un push manual
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          # Aquí definimos qué queremos mostrar
          plugin_languages: yes
          plugin_languages_threshold: 2%
